.CreateElement {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
  border-radius: 0.2rem;
  border: 1px solid gray;

  background-color: white;
  color: black;
}

.menuContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collapsibleArea {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-top: 1rem;
}

.label {
  text-align: center;
}

/* .input {
  width: 100%;
  line-height: 1.5rem;
  padding-left: 0.5rem;
} */

.input {
  display: inline-block;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  width: 100%;
  height: auto;
  min-height: 40px;
  resize: none;
}

.inputParamsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
}
