html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

html,
body,
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(37, 37, 37);
  }
}

.valid > div {
  background-color: #fff;
}

/* Define the animation */
@keyframes fillGreen {
  0% {
    background-color: #fff; /* Start with white background */
    background-position: 0 0; /* Start with the background image at position (0, 0) */
  }
  95% {
    background-color: #75b575; /* End with green background */
    background-position: 100% 0; /* End with the background image at position (100%, 0) */
    filter: brightness(1.1);
  }
  100% {
    filter: brightness(1);
    background-color: #75b575; /* End with green background */
    background-position: 100% 0; /* End with the background image at position (100%, 0) */
  }
}

/* Apply the animation to the element */
.valid > div {
  animation-name: fillGreen;
  animation-duration: 2s; /* Set the duration to 2 seconds */
  animation-timing-function: linear; /* Use a linear timing function for a smooth transition */
  animation-fill-mode: forwards; /* Keep the green background after the animation finishes */
}

.invalid > div {
  background-color: #fff;
}

/* Define the animation */
@keyframes fillRed {
  0% {
    background-color: #fff; /* Start with white background */
    background-position: 0 0; /* Start with the background image at position (0, 0) */
  }
  95% {
    background-color: #ab7777; /* End with green background */
    background-position: 100% 0; /* End with the background image at position (100%, 0) */
    filter: brightness(1.1);
  }
  100% {
    filter: brightness(1);
    background-color: #ab7777; /* End with green background */
    background-position: 100% 0; /* End with the background image at position (100%, 0) */
  }
}

/* Apply the animation to the element */
.invalid > div {
  animation-name: fillRed;
  animation-duration: 2s; /* Set the duration to 2 seconds */
  animation-timing-function: linear; /* Use a linear timing function for a smooth transition */
  animation-fill-mode: forwards; /* Keep the green background after the animation finishes */
}
