.header {
  color: #999;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.icon {
  font-size: 1rem;
  color: #3a3a3a;
  display: flex;
  align-items: center;
}
.full {
  width: 100%;
}
.span {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
