.container {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  margin-bottom: 8px;
}

.input-field {
  flex: 1;
}

.input-field + .input-field {
  margin-left: 4px;
}

.remove-button {
  margin-left: 4px;
  background: none;
  border: none;
  color: #b34d4d;
  cursor: pointer;
  font-size: 16px;
}

.remove-button:hover {
  filter: brightness(1.1);
  transition: all 0.4s ease-in-out;
}

.add-button {
  background: #3a3a3a;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  color: white;
  border-radius: 5px;
  padding: 0.4rem 0 0.3rem 0;
}
.add-button:hover {
  filter: brightness(1.1);
  background: olivedrab;
}
